* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    overflow-x: hidden;
}
body {
    font-family: 'Raleway', sans-serif;
    background-image: url('.images/icon-arrow.svg');
}
.paddinger {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 36px;
    position: relative;
}
.first-conteiner {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 60%;
    margin-left: 40%;
    position: relative;
    height: 24px;
}
.logo {
    width: 80px;
    position: absolute;
}
.first-conteiner-text {
    font-size: 12px;
    font-weight: 400;
}
.illustration {
    margin-top: 103px;
}
.center {
    display: flex;
    align-items:center;
    padding: 0;
    justify-content: center;
    margin-top: 0;
}
.file-headline {
    color: #07043B;
    text-align: center;
    font-size: 24px;
    margin-top: 40px;
}
.file-text {
    color: #07043B;
    font-size: 14px;
    text-align: center;
    margin-top: 24px;
    font-weight: 400;
}
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.input {
    width: 100%;
    height: 40px;
    margin-top: 32px;
    padding-left: 21px;
    outline: none;
    border: 0.625px solid #07043b;
    border-radius: 3px;

}
.input::placeholder {
    color: #C2C2C2;
    font-size: 12px;
}
form button { 
    width: 100%;
    height: 40px;
    margin-top: 16px;
    border: none;
    outline: none;
    background: #2F65F8;
    border-radius: 3px;
    box-shadow: 2px 3px 6px 0px #00000029;

}
form button:valid {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
form button:hover {
    background: #6C9BFF;
}
.second-image {
    width: 100%;
    margin-top: 73px;
    margin-bottom: 87px;
}
.second-conteiner {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 36px;
}
.background-color {
    background-color: #F8F8FE;
    margin-top: 110px;
}
.background-border {
    width: 100%;
    height: 80px;
    background-color:#F8F8FE;
    border-top-left-radius: 1000%;
    border-top-right-radius: 1000%;
    position: absolute;
    margin-top: -30px;
}
.second-conteiner-headline {
    font-size: 16px;
    color: #07043B;
    text-align: center;
    margin-bottom: 24px;
}
.second-conteiner-text {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 16px;
    color: #615F7E;
    font-weight: 400;
    justify-content: center;
}
.works-conteiner {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}
.fylo-text {
    color: #3DA08F;
    font-size: 12px;
    font-weight: 400;
    margin-right: 8px;
}
.hidden {
    display: none;
}
#check-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin-top: 4px;
    color: #EF4877;
}
#enter-email {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin-top: 4px;
    color: #71DFCC;
}
#second-check-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin-top: 4px;
    color: #EF4877;
    margin-left: 24px;
}
.works-conteiner-outline {
    width: 130px;
    height: 1px;
    background-color:#3DA08F;
    margin-bottom: 40px;
}
.third-conteiner {
    height: 163px;
    width: 80%;
    box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
    border-radius: 3.93258px;
    box-sizing: border-box;
    margin-bottom: 82px;
    padding-left: 26px;
    
}
.third-conteiner-text {
    margin-right: 13px;
    font-size: 10px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    line-height: 18.09px;
}
.avatar-conteiner {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
}
.avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.avatar-headline {
    font-size: 9px;
    color: #07043B;
    margin-left: 8px;
    margin-top: 2px;
}
.avatar-text {
    font-size: 6px;
    font-weight: 400;
    color: #07043B;
    margin-left: 8px;
}
.quotes {
    margin-top: 15px;
    margin-bottom: 6px;
}
.forth-conteiner {
    width: 100%;
    height: 345px;
    background-color: #575988;
    padding-left: 48px;
    padding-right: 47px;
}
.forth-conteiner-headline {
    font-size: 18px;
    color: #ffffff;
    margin-top: 54px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.forth-conteiner-text {
    font-size: 14px;
    color: #ffffff;
    line-height: 21px;
    text-align: center;
    font-weight: 400;
}
.last-conteiner {
    width: 100%;
    height: 590px;
    background-color: #07043B;
    padding-left: 39px;
    padding-top: 65px;
}
.background-box {
    width: 100%;
    position: absolute;
    margin-top: 820px;
}
.background {
    max-width: 100%;
    margin-top: 10px;
    height: 100%;
}
.forth-conteiner-input {
    width: 100%;
    height: 32px;
    margin-top: 32px;
    padding-left: 21px;
    outline: none;
    margin-left: 22px;
    margin-right: 22px;
}
.forth-conteiner-input::placeholder {
    color: #C2C2C2;
    font-size: 12px;
}
.form button {
    height: 32px;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 7px;
}
.logo-background {
    filter: invert(100%) sepia(0%) saturate(2432%) hue-rotate(56deg) brightness(101%) contrast(95%);
    width: 100px !important;
    height: 30px !important;
    margin-bottom: 26px;
}
.phone-txt, .mail-txt {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
}
.phone {
    display: flex;
    margin-bottom: 23px;
}
.mail {
    display: flex;
    margin-bottom: 38px;
}
.first-headline, .second-headline, .third-headline, .forth-headline, .sixth-headline, .seventh-headline {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 18px;
}
.fifth-headline {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 34px;
    margin-bottom: 18px;
}
.socials {
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin-left: -40px;
    margin-top: 15px;
}
.facebook {
    height: 13px;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(354deg) brightness(101%) contrast(101%);
}
.facebook-box, .instagram-box, .twitter-box {
    width: 27px;
    height: 27px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.instagram {
    height: 12px;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(354deg) brightness(101%) contrast(101%);
}
.twitter {
    height: 12px;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(354deg) brightness(201%) contrast(101%);
}
.center-social {
    display: flex;
    align-items:center;
    padding-left: -320px;
    justify-content: center;
}
.center-works, .center-third-conteiner {
    display: flex;
    align-items:center;
    padding: 0;
    justify-content: center;
    margin-top: 0;
}
.works-conteiner:hover .fylo-text {
    color: #71DFCC;
}

.works-conteiner:hover .arrow {
    opacity: 70%;
}

.works-conteiner:hover .works-conteiner-outline {
    background-color: #71DFCC;
}

.first-headline:hover, .second-headline:hover, .third-headline:hover, .forth-headline:hover,.fifth-headline:hover, .sixth-headline:hover, .seventh-headline:hover {
    color: #6C9BFF;
}

.twitter-box:hover, .instagram-box:hover, .facebook-box:hover {
    filter: invert(53%) sepia(67%) saturate(843%) hue-rotate(196deg) brightness(100%) contrast(105%);
}
.links > h1, .links-two > h1 {
    max-width: 90px;
}

@media screen and (min-width: 768px) {
    .paddinger {
        margin-left:80px;
        margin-right: 80px;
        margin-top: 80px;
        position: relative;
    }
   .logo {
        width: 140px;
        position:absolute;
   }
   .first-conteiner {
        display: flex;
        justify-content:space-between;
        align-items: center;
        width: 50%;
        margin-left: 50%;
        position: relative;
        height: 24px;
   }
   .first-conteiner-text {
        font-size: 16px;
   }
   .desktop-conteiner {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 130px;
        flex-direction: row-reverse;
   }
   .illustration {
    margin-top: 0px;
   }
   .email-conteiner {
    margin-right: 20px;
   }
   .file-headline {
    font-size: 40px;
   }
   .file-text {
    font-size: 17px;
   }
   .input {
    width: 68%;
   }

   #start-button {
    width: 30%;
   }
   .second-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:start;
    flex-direction: row-reverse;
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 20px;
   }
   .second-image {
    max-width: 542px;
    margin-top: 0;
    margin-left: 20px;
    width: 542px;
   }
   .second-conteiner-headline {
    text-align:start;
    font-size: 40px;
   }
   .second-conteiner-text {
    text-align:start;
    font-size: 16px;
    color: #07043B;
   }
   .works-conteiner {
    justify-content:start;
   }
   .fylo-text {
    font-size: 16px;
   }
   .arrow {
    width: 17px;
    height: 17px;
    margin-top: 2px;
   }
   .center-works {
    display: block;
   }
   .works-conteiner-outline {
    width: 171px;
   }
   .center-third-conteiner {
    display: block;
    padding-left: 10px;
   }
   .third-conteiner {
    width: 336px;
    padding-left: 37px;
    height: 194px;
    padding-top: 11px;
   }
   .third-conteiner-text {
    width: 260px;
    font-size: 13px;
   }

   .avatar-conteiner {
    width: 150px;
    margin-top: 20px;
   }
   .avatar {
    width: 32px;
    height: 32px;
   }
   .avatar-headline {
    font-size: 11px;
    margin-top: 5px;
   }
   .avatar-text {
    font-size: 8px;
   }
   .background-border {
    height: 150px;
    margin-top: -90px;
    }
    .background-color {
        margin-top: 260px;
    }
    .forth-conteiner {
        display: flex;
        align-items:center;
        height: 322px;
        padding-left: 80px;
        padding-right: 80px;
    }
    .forth-conteiner-first-order {
        text-align:start;
        align-items:flex-start;
        width: 90%;
    }
    .forth-conteiner-headline {
        margin-top: 0px;
        display: block;
        margin-bottom: 20px;
        font-size: 32px;
    }
    .forth-conteiner-text {
        display: block;
        text-align: start;
        font-size: 16px;
    }
    .forth-conteiner-start-button {
        width: 40%;
        height: 48px;
    }
    .form {display:block}
    .forth-conteiner-input {height:48px;}
    .last-conteiner {
        display: flex;
        justify-content: space-between;
        padding-left: 80px;
        padding-right: 10%;
        height: 341px;
    }
    .socials {
        display: flex;
        justify-content:space-between;
        flex-direction: row;
        width: 120px;
        margin-left: 00px;
        margin-top: -181px;
    }

    .links-box {
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin-top: 66px;

    }
    .links-two {
        margin-top: -34px;
    }
}